<?xml version="1.0"?>
<!--
/**
 * Copyright © Magecan, Inc. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <hide_price>
            <General>
                <enabled>0</enabled>
            </General>
        </hide_price>
    </default>
</config>
